<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Stretching Routine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elbowStretch.css') }}">

</head>

<body>

    <!-- Routine Heading and Description -->
    <section id="routine-section">
        <h1>ARM EXTENSIONS</h1>
        <h2>ELBOW STRETCH</h2>

        <a href="elbow"><button id="start-button">Get Started</button></a> <!-- Button placed here -->

        <div class="exercise-container">
            <img src="./static/images/ajElbow.webp" alt="Exercise Image" class="small-image">
            <div class="exercise-details">
            </div>
        </div>
    </section>

</body>

</html>