<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Elbow</title>
    <link rel="stylesheet" href="exercise1.css">
</head>

<body>

    <!-- Exercise Page Content -->
    <section id="exercise-section">
        <h1>ELBOW THERAPY</h1>
        <h2>Watch the demonstration to get started.</h2>

        <!-- Orange button -->
        <a href="exercise2Demo.html"><button id="start-exercise-button">Start</button></a>

    </section>

</body>

</html>