<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Wrist</title>
    <link rel="stylesheet" href="exercise1.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wrist.css') }}">

</head>

<body>

    <!-- Exercise Page Content -->
    <section id="exercise-section">
        <h1>Wrist Therapy</h1>
        <h2>Watch the demonstration to get started.</h2>

        <!-- Orange button -->
        <a href="wristDemo"><button id="start-exercise-button">Start</button></a>

    </section>

</body>

</html>