<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Stretching Routine</title>
    <link rel="stylesheet" href="wristStretch.css">
</head>

<body>

    <!-- Routine Heading and Description -->
    <section id="routine-section">
        <h1>WRIST ROTATION</h1>
        <h2>WRIST STRETCH</h2>
        <p class="placeholder-text">Placeholder text goes here</p>

        <a href="exercise3.html"><button id="start-button">Get Started</button></a> <!-- Button placed here -->

        <div class="exercise-container">
            <img src="images/ajPose.webp" alt="Exercise Image" class="small-image">
            <div class="exercise-details">
            </div>
        </div>
    </section>

</body>

</html>